div .bitcoin {
    display: flex;
    width: 1000px;
    background-color: aliceblue;
    padding: 25px;
    flex-direction: column;
}

.bitcoinItem {
    border-color: white;
    border-style: dashed;
    width:fit-content;
    height:auto;
    padding: 15px;
}

.bitcoin button {
    display: block;
margin: auto;
}

.bitcoinHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
}