div .bitcoin {
    display: flex;
    background-color: aliceblue;
    padding: 25px;
}
.bitcoinItem {
    border-color: white;
    border-style: dashed;
    width:fit-content;
    height:auto;
    padding: 15px;
}

.bitcoin button {
    display: block;
margin: auto;
}